.tileWrap {
  margin-bottom: 10%;
  .fileOperations {
    .mainGrp {
      padding: 6px 6px;
      margin-bottom: 5px;
      font-size: 14px;
      width: 124px;
    }

    .btn-primary {
      background-color: rgba(22, 155, 213, 1);
    }

    .remove {
      position: absolute;
      right: 0;
      bottom: -5px;
    }
  }

  .fileWrap {
    border: solid 1px gray;
    width: 125px;
    height: 170px;
  }

  .fileName {
    margin-top: 45%;
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .lastRan{
    width: 130px;
  }
  .fileIcon {
    margin: 40% 28%;
  }

  .newFile {
    color: #ff4500;
  }
  .locked {
    color: gray;
  }
  .analyzed {
    color: cornflowerblue;
  }
  .progressWrap {
    .progress{
      width: 115%;
    }
    .btn {
      margin-top: 4px;
      padding: 2px 5px;
    }
  }
}

.tileWrap {
  margin-right: 30px;
}

.fileSelectWrap {
  margin: 5% 0 5% 0;

  #addNewFile {
    text-align: center;
    border: solid 1px gray;
    width: 125px;
    height: 170px;

    .addIcon {
      margin-top: 40%;
    }

    .uploadBtn {
      #icon {
        color: gray;
      }
    }
  }
}

.fileOperations {
   display: none;
}

div.tileWrap:hover .fileOperations {
  display: block;
}

.unlockAndRunWrap, .unlockWrap{
  .password{
    width: 115%;
  }
}
.help-block{
  color: tomato;
}



