<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="opened"
    mode="push"
    autoCollapseWidth="200"
    class="asideWrap"
  >
    <app-sidebar></app-sidebar>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <app-header></app-header>

    <div class="container">
      <div class="row">
        <div class="col-md-6 pageSection">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in neque
            in ligula fringilla bibendum. Cras posuere arcu sem, id convallis
            diam aliquet at. Pellentesque dapibus ligula nec augue facilisis
            dapibus. Integer fermentum vulputate consectetur. Praesent quam sem,
            varius vitae nisi sit amet, tincidunt blandit felis. Curabitur
            volutpat, nunc sed rhoncus faucibus, massa diam viverra eros, sit
            amet pellentesque augue mi quis ligula. Morbi finibus at orci ac
            vulputate. Vestibulum id ultrices ligula. In enim arcu, molestie nec
            orci eu, sodales porttitor libero. Sed sit amet turpis vel ipsum
            ultricies varius. Proin fringilla pretium convallis. Nunc bibendum
            porttitor sem at faucibus. Donec vestibulum viverra mattis.
            Suspendisse dignissim metus in sem commodo, sit amet luctus velit
            varius. Sed urna purus, pretium sit amet tincidunt quis, ornare id
            lacus. Pellentesque eget dui dapibus elit consequat lacinia. Ut
            tempus est quis justo consectetur laoreet. Nulla tincidunt neque
            placerat, faucibus ante quis, venenatis justo. Sed posuere lacus
            neque, vel porta sapien auctor euismod. Pellentesque quis mauris
            eros. Suspendisse sollicitudin convallis pulvinar. Donec dapibus
            maximus
          </div>
          <button (click)="toggleSidebar()">Toggle sidebar</button>
        </div>
        <div class="col-md-6 tableSection">
          <div class="content">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="w-15 text-center bookmarkWrap">
                    <fa-icon
                      [icon]="faBookmark"
                      size="lg"
                      [ngClass]="status ? 'unmark' : 'mark'"
                      (click)="markForExport()"
                    ></fa-icon>
                  </th>
                  <th scope="col">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <fa-icon
                      [icon]="faInfo"
                      size="lg"
                      class="infoIcon"
                    ></fa-icon>
                  </th>
                  <td colspan="2">
                    <div class="row detailsWrap">
                      <div class="col-md-6 ">
                        <p>
                          Title: <span>{{ title }}</span>
                        </p>
                        <p>
                          Date: <span>{{ date }}</span>
                        </p>
                        <p>
                          Pages in Documents: <span>{{ pages }}</span>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                          Number of rows: <span>{{ rowCount }}</span>
                        </p>
                        <p>
                          Number of rows: <span>{{ columnCount }}</span>
                        </p>
                        <p>
                          Form Type: <span>{{ formType }}</span>
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-editor-footer></app-editor-footer>
  </div>
</ng-sidebar-container>
