
ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar {
  margin-top: 40px !important;
  background-color: #efefef !important;
  position: fixed !important;
}

.pageSection {
  .content {
    margin-top: 10%;
  }
}

.tableSection {
  ::ng-deep .dataframe {
    th,
    td {
      padding: 5px;
      font-weight: normal;
      font-size: 15px;
    }
  }
  li {
    list-style: none;
  }
  .content {
    margin-top: 12%;
    margin-right: 10%;
  }
  .innerTableWrap {
    border-style: dashed;
    border-color: cornflowerblue;
  }
  .infoIcon {
    color: lightblue;
  }
  .bookmark {
    color: orangered;
  }
  .bookmarkWrap {
    vertical-align: middle;
  }
  .unmark {
    cursor: pointer;
    color: white;
    stroke: dodgerblue;
    stroke-width: 20;
  }
  .mark {
    color: dodgerblue;
  }
  .detailsWrap {
    p {
      margin: 0;
    }
    span {
      margin-left: 10px;
      color: dimgray;
    }
  }
}
.container-fluid {
  margin-bottom: 120px;
  //padding-top: 67px;
}
::ng-deep .highlight {
  background-color: #3cb371 !important;
}
.pageSection {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 88%,
    rgba(238, 238, 238, 1) 100%
  );
}

::ng-deep .bbox {
  border: 2px solid #ec808d;
  position: absolute;
  cursor: pointer;
  background-color: rgba(251, 228, 230, 0.5);
}

::ng-deep .textLayer {
  opacity: 1 !important;
  span {
    opacity: 0.5 !important;
  }
}

::ng-deep .pageSection{
  .popup {
    z-index: 9;
    background-color: rgba(135, 206, 250, 0.5);
    border: 1px solid rgba(30, 144, 255, 0.8);
    text-align: center;
    top: 200px;
    left: 100px;
    height: 150px;
    width: 300px;
    max-height: 100%;
    max-width: 100%;
  }

  /*Drgable */

  .popup {
    position: absolute;
    /*resize: both; !*enable this to css resize*! */
    overflow: auto;
  }

  .popup-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: rgba(30, 144, 255, 0.8);
    color: #fff;
  }

  /*Resizeable*/

  .popup .resizer-right {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: e-resize;
  }

  .popup .resizer-bottom {
    width: 100%;
    height: 5px;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: n-resize;
  }

  .popup .resizer-both {
    width: 5px;
    height: 5px;
    background: transparent;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nw-resize;
  }

  .newBbox{
    background-color: rgba(255, 225, 136, 0.2);
    border: 1px solid rgba(255, 158, 12, 0.5);

    .popup-header {
      background-color: rgba(255, 158, 12, 0.5);
    }
  }
}
