ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar {
  margin-top: 40px !important;
  background-color: #efefef !important;
  position: fixed !important;
}

.tableSection {

  thead tr th:first-child,
  tbody tr td:first-child {
    width: 20px !important
  }
}
