<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="opened"
    mode="push"
    autoCollapseWidth="200"
    class="asideWrap"
  >
    <app-sidebar></app-sidebar>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <app-header></app-header>

    <div class="container">
      <div class="row">
        <div class="col-md-6 pageSection">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in neque
            in ligula fringilla bibendum. Cras posuere arcu sem, id convallis
            diam aliquet at. Pellentesque dapibus ligula nec augue facilisis
            dapibus. Integer fermentum vulputate consectetur. Praesent quam sem,
            varius vitae nisi sit amet, tincidunt blandit felis. Curabitur
            volutpat, nunc sed rhoncus faucibus, massa diam viverra eros, sit
            amet pellentesque augue mi quis ligula. Morbi finibus at orci ac
            vulputate. Vestibulum id ultrices ligula. In enim arcu, molestie nec
            orci eu, sodales porttitor libero. Sed sit amet turpis vel ipsum
            ultricies varius. Proin fringilla pretium convallis. Nunc bibendum
            porttitor sem at faucibus. Donec vestibulum viverra mattis.
            Suspendisse dignissim metus in sem commodo, sit amet luctus velit
            varius. Sed urna purus, pretium sit amet tincidunt quis, ornare id
            lacus. Pellentesque eget dui dapibus elit consequat lacinia. Ut
            tempus est quis justo consectetur laoreet. Nulla tincidunt neque
            placerat, faucibus ante quis, venenatis justo. Sed posuere lacus
            neque, vel porta sapien auctor euismod. Pellentesque quis mauris
            eros. Suspendisse sollicitudin convallis pulvinar. Donec dapibus
            maximus
          </div>
          <button (click)="toggleSidebar()">Toggle sidebar</button>
        </div>
        <div class="col-md-6 tableSection">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in neque
            in ligula fringilla bibendum. Cras posuere arcu sem, id convallis
            diam aliquet at. Pellentesque dapibus ligula nec augue facilisis
            dapibus. Integer fermentum vulputate consectetur. Praesent quam sem,
            varius vitae nisi sit amet, tincidunt blandit felis. Curabitur
            volutpat, nunc sed rhoncus faucibus, massa diam viverra eros, sit
            amet pellentesque augue mi quis ligula. Morbi finibus at orci ac
            vulputate. Vestibulum id ultrices ligula. In enim arcu, molestie nec
            orci eu, sodales porttitor libero. Sed sit amet turpis vel ipsum
            ultricies varius. Proin fringilla pretium convallis. Nunc bibendum
            porttitor sem at faucibus. Donec vestibulum viverra mattis.
            Suspendisse dignissim metus in sem commodo, sit amet luctus velit
            varius. Sed urna purus, pretium sit amet tincidunt quis, ornare id
            lacus. Pellentesque eget dui dapibus elit consequat lacinia. Ut
            tempus est quis justo consectetur laoreet. Nulla tincidunt neque
            placerat, faucibus ante quis, venenatis justo. Sed posuere lacus
            neque, vel porta sapien auctor euismod. Pellentesque quis mauris
            eros. Suspendisse sollicitudin convallis pulvinar. Donec dapibus
            maximus sapien id amet turpis vel ipsum ultricies varius. Proin
            fringilla pretium convallis. Nunc bibendum porttitor sem at
            faucibus. Donec vestibulum viverra mattis. Suspendisse dignissim
            metus in sem commodo, sit amet luctus velit varius. Sed urna purus,
            pretium sit amet tincidunt quis, ornare id lacus. Pellentesque eget
            dui dapibus elit consequat lacinia. Ut tempus est quis justo
            consectetur laoreet. Nulla tincidunt neque placerat, faucibus ante
            quis, venenatis justo. Sed posuere lacus neque, vel porta sapien
            consectetur laoreet. Nulla tincidunt neque placerat, faucibus ante
            quis, venenatis justo. Sed posuere lacus neque, vel porta sapien
            auctor euismod. Pellentesque quis mauris eros. Suspendisse
            sollicitudin convallis pulvinar. Donec dapibus maximus sapien id
            amet turpis vel ipsum ultricies varius. Proin fringilla pretium
            convallis. Nunc bibendum porttitor sem at faucibus. Donec vestibulum
            viverra mattis. Suspendisse dignissim metus in sem commodo, sit amet
            luctus velit varius. Sed urna purus, pretium sit amet tincidunt
            quis, ornare id lacus. Pellentesque eget dui dapibus elit consequat
            lacinia. Ut tempus est quis justo consectetur laoreet. Nulla
            tincidunt neque placerat, faucibus ante quis, venenatis justo. Sed
            posuere lacus neque, vel porta sapien consectetur laoreet. Nulla
            tincidunt neque placerat, faucibus ante quis, venenatis justo. Sed
            posuere lacus neque, vel porta sapien auctor euismod. Pellentesque
            quis mauris eros. Suspendisse sollicitudin convallis pulvinar. Donec
            dapibus maximus sapien id amet turpis vel ipsum ultricies varius.
            Proin fringilla pretium convallis. Nunc bibendum porttitor sem at
            faucibus. Donec vestibulum viverra mattis. Suspendisse dignissim
            metus in sem commodo, sit amet luctus velit varius. Sed urna purus,
            pretium sit amet tincidunt quis, ornare id lacus. Pellentesque eget
            dui dapibus elit consequat lacinia. Ut tempus est quis justo
            consectetur laoreet. Nulla tincidunt neque placerat, faucibus ante
            quis, venenatis justo. Sed posuere lacus neque, vel porta sapien
            auctor euismod. Pellentesque quis mauris eros. Suspendisse
            sollicitudin convallis pulvinar. Donec dapibus maximus sapien id
            imperdiet. Aenean ullamcorper quam non mi tempor hendrerit. Aenean
            non urna vel ante tincidunt ullamcorper. Fusce volutpat sollicitudin
            est et consequat. Donec sed feugiat justo, in mattis lorem. Duis
            pulvinar odio nec quam cursus mattis. Morbi lacinia iaculis urna,
            vitae condimentum justo porta nec. Morbi tincidunt facilisis mauris
            ac viverra. Donec egestas sem consectetur nibh porttitor sodales.
            Fusce eros enim, aliquam sit amet sodales non, imperdiet vitae dui.
            Aenean ultricies sollicitudin purus. Mauris mollis pulvinar tellus,
            nec tempor dolor fringilla in. Praesent aliquet sit amet dolor id
            mattis. Nam ac tortor convallis quam tincidunt porttitor in lobortis
            orci. Vivamus semper odio mattis tempus egestas. Suspendisse
            vehicula quam vitae sem finibus, quis tristique mi viverra. Nulla
            consequat sed mauris a rutrum. Cras egestas id urna vel semper.
            Proin auctor ornare ex, ut feugiat quam
          </div>
        </div>
      </div>
    </div>
    <app-editor-footer></app-editor-footer>
  </div>
</ng-sidebar-container>
