.footer {
  width: 100%;
  min-height: 60px;
  max-height: 500px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 20px;
  overflow-y: scroll;
  z-index: 100;
  background-color: #efefef;
  .btn{
    margin-right: 10px;
  }
}

::ng-deep .selectModal {
  .selectAll{
    margin-bottom: 8px;
  }
  .modal-content{
    border-top: 5px solid #ff791f;
  }
  .modal-body{
    max-height: 600px;
    overflow-y: auto;
    ul{
      li{
        list-style: none;
      }
      .checkbox{
        margin-left: 5px;
      }
    }
  }
}
