<nav class="navbar navbar-expand-sm   navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" >General</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"  routerLink="/about">About</a>
          <a class="dropdown-item" routerLink="" (click)="appLogout()">Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          File
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" >File Browser</a>
          <a class="dropdown-item" >Re-Run All Tables </a>
          <a class="dropdown-item" >Export All Tables</a>
        </div>
      </li>
       <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle"  data-toggle="dropdown">
         View
       </a>
       <div class="dropdown-menu">
         <a class="dropdown-item" > PDF Overview</a>
         <a class="dropdown-item">Editor</a>
       </div>
     </li>
    </ul>
  </div>
</nav>
