<div class="row fileSelectWrap">
  <div class="col-md-2">
    <div class="tile" id="addNewFile">
      <div class="addIcon">
        <input
          style="display: none"
          type="file"
          (change)="onFileChange($event)"
          accept="application/pdf"
          #fileInput
        />
        <button class="btn uploadBtn" (click)="fileInput.click()">
          <fa-icon [icon]="faPlus" size="3x" id="icon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3 tileWrap" *ngFor="let file of displayFiles" [attr.data-id]="file.key" #tile>
    <div class="row">
      <div class="col-md-6">
        <div class="fileOperations">
          <div class="unlockAndRunWrap" *ngIf="file.type === 'locked'">
            <button class="btn btn-primary mainGrp" (click)="unlockAndRun()">
              <fa-icon [icon]="faPlay" size="lg" class="float-left"></fa-icon>
              Unlock & Run
            </button>
            <div class="progressWrap" [hidden]="!unlockWithRun">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button class="btn btn-primary">
                    <fa-icon [icon]="faPause" size="lg"></fa-icon>
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-danger">
                    <fa-icon [icon]="faUnlock" size="lg"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="runWrap" *ngIf="file.type === 'newFile'">
            <button class="btn btn-primary mainGrp" (click)="runAnalysis()">
              <fa-icon [icon]="faPlay" size="lg" class="float-left"></fa-icon>
              Run
            </button>
            <div class="progressWrap" [hidden]="!runFileAnalysis">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button class="btn btn-primary">
                    <fa-icon [icon]="faPause" size="lg"></fa-icon>
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-danger">
                    <fa-icon [icon]="faStop" size="lg"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="unlockWrap" *ngIf="file.type === 'locked' && !unlockWithRun">
            <button
              class="btn  btn-outline-dark mainGrp"
              (click)="unlockFile()"
            >
              <fa-icon [icon]="faUnlock" size="lg" class="float-left"></fa-icon>
              Unlock
            </button>
          </div>
          <div class="analyzedWrap" *ngIf="file.type === 'analyzed'">
            <button class="btn btn-primary mainGrp" (click)="openFile(file.name)">
              <fa-icon [icon]="faOpen" size="lg" class="float-left"></fa-icon>
              Open
            </button>
          </div>
          <div class="rerunWrap" *ngIf="file.type === 'analyzed'">
            <button
              class="btn  btn-outline-dark mainGrp"
              (click)="reRunAnalysis()"
            >
              <fa-icon [icon]="faRedo" size="lg" class="float-left"></fa-icon>
              Re-Run
            </button>
            <div class="progressWrap" [hidden]="!reRunFileAnalysis">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button class="btn btn-primary">
                    <fa-icon [icon]="faPause" size="lg"></fa-icon>
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-danger">
                    <fa-icon [icon]="faStop" size="lg"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="removeWrap">
            <button class="btn btn-danger remove mainGrp" (click)="removeTile($event)" [attr.data-tile-id]="file.key">
              <fa-icon [icon]="faTrash" size="lg" class="float-left"></fa-icon>
              Remove
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="fileWrap">
          <div class="fileIcon">
            <fa-icon
              [icon]="file.icon"
              size="4x"
              [className]="file.type"
            ></fa-icon>
          </div>
          <div class="fileName">
            {{ file.name | titlecase }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-remove [tileId]="tileId"></app-remove>
<app-footer></app-footer>
