
.tileWrap {
  margin-bottom: 10%;
  .fileOperations {
    .btn {
      margin-bottom: 5px;
      font-size: 15px;
      width: 124px;
    }

    .btn-primary {
      background-color: rgba(22, 155, 213, 1)
    }

    .remove{
      position: absolute;
      right:    0;
      bottom:   0;
    }
  }

  .fileWrap {
    border: solid 1px gray;
    width: 125px;
    height: 165px;
  }

  .fileName {
    margin-top: 45%;
  }

  .fileIcon {
    margin: 40% 28%;
  }

  .newFile{
    color: #FF4500;
  }
  .locked{
    color: gray;
  }
  .analyzed{
    color: cornflowerblue;
  }
}

.tileWrap {
  margin-right: 30px;
}

.fileSelectWrap {
  margin: 5% 0 5% 0;

  #addNewFile {
    text-align: center;
    border: solid 1px gray;
    width: 125px;
    height: 165px;

    .addIcon {
      margin-top: 40%;
    }

    .uploadBtn {
      #icon {
        color: gray;
      }
    }
  }
}

.fileOperations {
  display: none;
}

div.tileWrap:hover .fileOperations {
  display: block;
}
