.editorFooter {
  width: 100%;
  min-height: 60px;
  max-height: 500px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 20px;
  overflow-y: scroll;
  z-index: 100;
  background-color: #efefef;

  .btn{
    margin-right: 10px;
  }
  .d-inline{
    margin-right: 15px;
    #tableCount{
      font-size: 14px;
      color: rgb(127, 127, 127);
    }
  }
}

