.sidebarWrap {
  padding: 40px;
  margin-top: 74px;
  //margin-bottom: 110px;
  .editor {
    margin-top: 10px;
    form {
      max-width: 300px;
    }
  }
  .form-group {
    margin-top: 30px; //remove when background is added
  }
  .textBox {
    label {
      max-width: 300px;
      text-align: justify-all;
    }
    .textAreaBtn {
      margin-top: 10px;
    }
  }

  .colorPicker {
    color: orangered;
  }

  .editorActions{
    button{
      margin-right: 5px;
    }
  }
}
