/* You can add global styles to this file, and also import other style files */

.inlineBlock {
  display: inline-block;
  text-align: center;
}

body {
  /*
  padding-top: 135px;
  */
  padding-top: 65px;
}

.container{
  /*
  margin-bottom: 120px;
  */
}
